<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <title>Promise practice. Problem user profile</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="user-profile">
      <div class="user-profile__user-info user-info"></div>
      <div class="user-profile__user-gallery user-gallery">
        <h3 class="user-gallery__title">Photos</h3>
        <div class="user-gallery__photos-list photos-list"></div>
      </div>
  </div>
  

  <script id="user-info" type="text/template">
    <div class="user-info__inner">
      <div class="user-info__avatar avatar">
          <img class="avatar__img" src="<%= avatarUrl %>">
        </div>
        <div class="user-info__info">
          <h2 class="user-info__login-name">
            @<span class="user-info__login"><%= login %></span>
            <span class="user-info__name"><%= name %></span>
          </h2>
          <p class="user-info__about"><%= about %></p>
        </div>
    </div>    
  </script>
  <script id="photo-template" type="text/template">
    <div class="user-gallery__photo photo">
      <div class="photo__img-box"></div>
      <div class="photo__label"><%= title %></div>
    </div>
  </script>
  
  <script src="https://yastatic.net/underscore/1.8.3/underscore-min.js"></script>
  <script src="dom-helpers.js"></script>
  <script src="utils.js"></script>
  <script src="views/loader.js"></script>
  <script src="views/user-info.js"></script>
  <script src="views/photo.js"></script>
  <script src="views/gallery.js"></script>
  <script> 
  

  on(document, 'scroll', function(e) {
    var element = document.documentElement;
    var photo;
    if (gallery.count !== gallery.pos 
    && !gallery.fetching 
    && element.scrollHeight - element.clientHeight <= window.pageYOffset + 50) {
     
      gallery.showPhotos(3);
      
    }
  });

  getJSON('user-00.json')
  .then(function(data) {

    userInfo.init(data);
    gallery.init(data.photos);

    gallery.showPhotos(6);

  })
  .catch(function(error) {
    console.log('Failed!', error);
  });
  </script>
</body>
</html>